.tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-mt-\[20px\] {
  margin-top: 20px
}

.tw-flex {
  display: flex
}

.tw-w-full {
  width: 100%
}

.tw-items-center {
  align-items: center
}

.tw-justify-start {
  justify-content: flex-start
}

.tw-justify-center {
  justify-content: center
}

.tw-gap-\[10px\] {
  gap: 10px
}

.tw-py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px
}

.tw-font-bold {
  font-weight: 700
}

.\!tw-underline {
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important
}