/*display*/
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.inline-table {
  display: inline-table;
}

.table-caption {
  display: table-caption;
}

.table-cell {
  display: table-cell;
}

.table-column {
  display: table-column;
}

.table-column-group {
  display: table-column-group;
}

.table-footer-group {
  display: table-footer-group;
}

.table-header-group {
  display: table-header-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.flow-root {
  display: flow-root;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents;
}

.list-item {
  display: list-item;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-6xl {
  font-size: 4rem;
}

.text-10px {
  font-size: 10px;
}

.text-11px {
  font-size: 11px;
}

.text-12px {
  font-size: 12px;
}

.text-13px {
  font-size: 13px;
}

.text-14px {
  font-size: 14px;
}

.text-15px {
  font-size: 15px;
}

.text-16px {
  font-size: 16px;
}

.text-17px {
  font-size: 17px;
}

.text-18px {
  font-size: 18px;
}

.text-19px {
  font-size: 19px;
}

.text-20px {
  font-size: 20px;
}

.text-21px {
  font-size: 21px;
}

.text-22px {
  font-size: 22px;
}

.text-23px {
  font-size: 23px;
}

.text-24px {
  font-size: 24px;
}

.text-25px {
  font-size: 25px;
}

.text-26px {
  font-size: 26px;
}

.text-27px {
  font-size: 27px;
}

.text-28px {
  font-size: 28px;
}

.text-29px {
  font-size: 29px;
}

.text-30px {
  font-size: 30px;
}

.text-31px {
  font-size: 31px;
}

.text-32px {
  font-size: 32px;
}

.text-33px {
  font-size: 33px;
}

.text-34px {
  font-size: 34px;
}

.text-35px {
  font-size: 35px;
}

.text-36px {
  font-size: 36px;
}

.text-37px {
  font-size: 37px;
}

.text-38px {
  font-size: 38px;
}

.text-39px {
  font-size: 39px;
}

.text-40px {
  font-size: 40px;
}

.text-41px {
  font-size: 41px;
}

.text-42px {
  font-size: 42px;
}

.text-43px {
  font-size: 43px;
}

.text-44px {
  font-size: 44px;
}

.text-45px {
  font-size: 45px;
}

.text-46px {
  font-size: 46px;
}

.text-47px {
  font-size: 47px;
}

.text-48px {
  font-size: 48px;
}

.text-49px {
  font-size: 49px;
}

.text-50px {
  font-size: 50px;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}
.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-min {
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
}

.auto-cols-max {
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.auto-rows-auto {
  grid-auto-rows: auto;
}

.auto-rows-min {
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.auto-rows-max {
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.auto-rows-fr {
  grid-auto-rows: minmax(0, 1fr);
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-none {
  grid-template-columns: none;
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
  grid-template-rows: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
  grid-template-rows: none;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-between {
  place-content: space-between;
}

.place-content-around {
  place-content: space-around;
}

.place-content-evenly {
  place-content: space-evenly;
}

.place-content-stretch {
  place-content: stretch;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-stretch {
  place-items: stretch;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-evenly {
  align-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.gap-0 {
  gap: 0;
}

.gap-1px {
  gap: 1px;
}

.gap-2px {
  gap: 2px;
}

.gap-3px {
  gap: 3px;
}

.gap-4px {
  gap: 4px;
}

.gap-5px {
  gap: 5px;
}

.gap-6px {
  gap: 6px;
}

.gap-7px {
  gap: 7px;
}

.gap-8px {
  gap: 8px;
}

.gap-9px {
  gap: 9px;
}

.gap-10px {
  gap: 10px;
}

.gap-11px {
  gap: 11px;
}

.gap-12px {
  gap: 12px;
}

.gap-13px {
  gap: 13px;
}

.gap-14px {
  gap: 14px;
}

.gap-15px {
  gap: 15px;
}

.gap-16px {
  gap: 16px;
}

.gap-17px {
  gap: 17px;
}

.gap-18px {
  gap: 18px;
}

.gap-19px {
  gap: 19px;
}

.gap-20px {
  gap: 20px;
}

.gap-21px {
  gap: 21px;
}

.gap-22px {
  gap: 22px;
}

.gap-23px {
  gap: 23px;
}

.gap-24px {
  gap: 24px;
}

.gap-25px {
  gap: 25px;
}

.gap-26px {
  gap: 26px;
}

.gap-27px {
  gap: 27px;
}

.gap-28px {
  gap: 28px;
}

.gap-29px {
  gap: 29px;
}

.gap-30px {
  gap: 30px;
}

.gap-31px {
  gap: 31px;
}

.gap-32px {
  gap: 32px;
}

.gap-33px {
  gap: 33px;
}

.gap-34px {
  gap: 34px;
}

.gap-35px {
  gap: 35px;
}

.gap-36px {
  gap: 36px;
}

.gap-37px {
  gap: 37px;
}

.gap-38px {
  gap: 38px;
}

.gap-39px {
  gap: 39px;
}

.gap-40px {
  gap: 40px;
}

.gap-41px {
  gap: 41px;
}

.gap-42px {
  gap: 42px;
}

.gap-43px {
  gap: 43px;
}

.gap-44px {
  gap: 44px;
}

.gap-45px {
  gap: 45px;
}

.gap-46px {
  gap: 46px;
}

.gap-47px {
  gap: 47px;
}

.gap-48px {
  gap: 48px;
}

.gap-49px {
  gap: 49px;
}

.gap-50px {
  gap: 50px;
}

.gap-51px {
  gap: 51px;
}

.gap-52px {
  gap: 52px;
}

.gap-53px {
  gap: 53px;
}

.gap-54px {
  gap: 54px;
}

.gap-55px {
  gap: 55px;
}

.gap-56px {
  gap: 56px;
}

.gap-57px {
  gap: 57px;
}

.gap-58px {
  gap: 58px;
}

.gap-59px {
  gap: 59px;
}

.gap-60px {
  gap: 60px;
}

.gap-61px {
  gap: 61px;
}

.gap-62px {
  gap: 62px;
}

.gap-63px {
  gap: 63px;
}

.gap-64px {
  gap: 64px;
}

.gap-65px {
  gap: 65px;
}

.gap-66px {
  gap: 66px;
}

.gap-67px {
  gap: 67px;
}

.gap-68px {
  gap: 68px;
}

.gap-69px {
  gap: 69px;
}

.gap-70px {
  gap: 70px;
}

.gap-71px {
  gap: 71px;
}

.gap-72px {
  gap: 72px;
}

.gap-73px {
  gap: 73px;
}

.gap-74px {
  gap: 74px;
}

.gap-75px {
  gap: 75px;
}

.gap-76px {
  gap: 76px;
}

.gap-77px {
  gap: 77px;
}

.gap-78px {
  gap: 78px;
}

.gap-79px {
}

.gap-80px {
  gap: 80px;
}

.gap-81px {
  gap: 81px;
}

.gap-82px {
  gap: 82px;
}

.gap-83px {
  gap: 83px;
}

.gap-84px {
  gap: 84px;
}

.gap-85px {
  gap: 85px;
}

.gap-86px {
  gap: 86px;
}

.gap-87px {
  gap: 87px;
}

.gap-88px {
  gap: 88px;
}

.gap-89px {
  gap: 89px;
}

.gap-90px {
  gap: 90px;
}

.gap-91px {
  gap: 91px;
}

.gap-92px {
  gap: 92px;
}

.gap-93px {
  gap: 93px;
}

.gap-94px {
  gap: 94px;
}

.gap-95px {
  gap: 95px;
}

.gap-96px {
  gap: 96px;
}

.gap-97px {
  gap: 97px;
}

.gap-98px {
  gap: 98px;
}

.gap-99px {
  gap: 99px;
}

.gap-100px {
  gap: 100px;
}


@media (min-width: 640px) {
  .sm\:block {
    display: block;
  }

  .sm\:inline-block {
    display: inline-block;
  }

  .sm\:inline {
    display: inline;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:inline-flex {
    display: inline-flex;
  }

  .sm\:table {
    display: table;
  }

  .sm\:inline-table {
    display: inline-table;
  }

  .sm\:table-caption {
    display: table-caption;
  }

  .sm\:table-cell {
    display: table-cell;
  }

  .sm\:table-column {
    display: table-column;
  }

  .sm\:table-column-group {
    display: table-column-group;
  }

  .sm\:table-footer-group {
    display: table-footer-group;
  }

  .sm\:table-header-group {
    display: table-header-group;
  }

  .sm\:table-row-group {
    display: table-row-group;
  }

  .sm\:table-row {
    display: table-row;
  }

  .sm\:flow-root {
    display: flow-root;
  }

  .sm\:grid {
    display: grid;
  }

  .sm\:inline-grid {
    display: inline-grid;
  }

  .sm\:contents {
    display: contents;
  }

  .sm\:list-item {
    display: list-item;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-center {
    text-align: center;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:text-justify {
    text-align: justify;
  }

  .sm\:align-baseline {
    vertical-align: baseline;
  }

  .sm\:align-top {
    vertical-align: top;
  }

  .sm\:align-middle {
    vertical-align: middle;
  }

  .sm\:align-bottom {
    vertical-align: bottom;
  }

  .sm\:align-text-top {
    vertical-align: text-top;
  }

  .sm\:align-text-bottom {
    vertical-align: text-bottom;
  }

  .sm\:font-sans {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .sm\:font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }

  .sm\:font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .sm\:text-xs {
    font-size: 0.75rem;
  }

  .sm\:text-sm {
    font-size: 0.875rem;
  }

  .sm\:text-base {
    font-size: 1rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
  }

  .sm\:text-xl {
    font-size: 1.25rem;
  }

  .sm\:text-2xl {
    font-size: 1.5rem;
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
  }

  .sm\:text-5xl {
    font-size: 3rem;
  }

  .sm\:text-6xl {
    font-size: 4rem;
  }

  .sm\:text-10px {
    font-size: 10px;
  }

  .sm\:text-11px {
    font-size: 11px;
  }

  .sm\:text-12px {
    font-size: 12px;
  }

  .sm\:text-13px {
    font-size: 13px;
  }

  .sm\:text-14px {
    font-size: 14px;
  }

  .sm\:text-15px {
    font-size: 15px;
  }

  .sm\:text-16px {
    font-size: 16px;
  }

  .sm\:text-17px {
    font-size: 17px;
  }

  .sm\:text-18px {
    font-size: 18px;
  }

  .sm\:text-19px {
    font-size: 19px;
  }

  .sm\:text-20px {
    font-size: 20px;
  }

  .sm\:text-21px {
    font-size: 21px;
  }

  .sm\:text-22px {
    font-size: 22px;
  }

  .sm\:text-23px {
    font-size: 23px;
  }

  .sm\:text-24px {
    font-size: 24px;
  }

  .sm\:text-25px {
    font-size: 25px;
  }

  .sm\:text-26px {
    font-size: 26px;
  }

  .sm\:text-27px {
    font-size: 27px;
  }

  .sm\:text-28px {
    font-size: 28px;
  }

  .sm\:text-29px {
    font-size: 29px;
  }

  .sm\:text-30px {
    font-size: 30px;
  }

  .sm\:text-31px {
    font-size: 31px;
  }

  .sm\:text-32px {
    font-size: 32px;
  }

  .sm\:text-33px {
    font-size: 33px;
  }

  .sm\:text-34px {
    font-size: 34px;
  }

  .sm\:text-35px {
    font-size: 35px;
  }

  .sm\:text-36px {
    font-size: 36px;
  }

  .sm\:text-37px {
    font-size: 37px;
  }

  .sm\:text-38px {
    font-size: 38px;
  }

  .sm\:text-39px {
    font-size: 39px;
  }

  .sm\:text-40px {
    font-size: 40px;
  }

  .sm\:text-41px {
    font-size: 41px;
  }

  .sm\:text-42px {
    font-size: 42px;
  }

  .sm\:text-43px {
    font-size: 43px;
  }

  .sm\:text-44px {
    font-size: 44px;
  }

  .sm\:text-45px {
    font-size: 45px;
  }

  .sm\:text-46px {
    font-size: 46px;
  }

  .sm\:text-47px {
    font-size: 47px;
  }

  .sm\:text-48px {
    font-size: 48px;
  }

  .sm\:text-49px {
    font-size: 49px;
  }

  .sm\:text-50px {
    font-size: 50px;
  }

  .sm\:font-thin {
    font-weight: 100;
  }

  .sm\:font-extralight {
    font-weight: 200;
  }

  .sm\:font-light {
    font-weight: 300;
  }

  .sm\:font-normal {
    font-weight: 400;
  }

  .sm\:font-medium {
    font-weight: 500;
  }

  .sm\:font-semibold {
    font-weight: 600;
  }

  .sm\:font-bold {
    font-weight: 700;
  }

  .sm\:font-extrabold {
    font-weight: 800;
  }

  .sm\:font-black {
    font-weight: 900;
  }

  .sm\:uppercase {
    text-transform: uppercase;
  }

  .sm\:lowercase {
    text-transform: lowercase;
  }

  .sm\:capitalize {
    text-transform: capitalize;
  }

  .sm\:normal-case {
    text-transform: none;
  }

  .sm\:italic {
    font-style: italic;
  }

  .sm\:not-italic {
    font-style: normal;
  }

  .sm\:auto-cols-auto {
    grid-auto-columns: auto;
  }

  .sm\:auto-cols-min {
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
  }

  .sm\:auto-cols-max {
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
  }

  .sm\:auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }

  .sm\:grid-flow-row {
    grid-auto-flow: row;
  }

  .sm\:grid-flow-col {
    grid-auto-flow: column;
  }

  .sm\:grid-flow-row-dense {
    grid-auto-flow: row dense;
  }

  .sm\:grid-flow-col-dense {
    grid-auto-flow: column dense;
  }

  .sm\:auto-rows-auto {
    grid-auto-rows: auto;
  }

  .sm\:auto-rows-min {
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }

  .sm\:auto-rows-max {
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }

  .sm\:auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .sm\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .sm\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .sm\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .sm\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .sm\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .sm\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .sm\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .sm\:grid-cols-none {
    grid-template-columns: none;
  }

  .sm\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .sm\:grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .sm\:grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .sm\:grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .sm\:grid-rows-none {
    grid-template-rows: none;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .sm\:flex-col {
    flex-direction: column;
  }

  .sm\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .sm\:flex-wrap {
    flex-wrap: wrap;
  }

  .sm\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .sm\:place-content-center {
    place-content: center;
  }

  .sm\:place-content-start {
    place-content: start;
  }

  .sm\:place-content-end {
    place-content: end;
  }

  .sm\:place-content-between {
    place-content: space-between;
  }

  .sm\:place-content-around {
    place-content: space-around;
  }

  .sm\:place-content-evenly {
    place-content: space-evenly;
  }

  .sm\:place-content-stretch {
    place-content: stretch;
  }

  .sm\:place-items-start {
    place-items: start;
  }

  .sm\:place-items-end {
    place-items: end;
  }

  .sm\:place-items-center {
    place-items: center;
  }

  .sm\:place-items-stretch {
    place-items: stretch;
  }

  .sm\:content-center {
    align-content: center;
  }

  .sm\:content-start {
    align-content: flex-start;
  }

  .sm\:content-end {
    align-content: flex-end;
  }

  .sm\:content-between {
    align-content: space-between;
  }

  .sm\:content-around {
    align-content: space-around;
  }

  .sm\:content-evenly {
    align-content: space-evenly;
  }

  .sm\:items-start {
    align-items: flex-start;
  }

  .sm\:items-end {
    align-items: flex-end;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:items-baseline {
    align-items: baseline;
  }

  .sm\:items-stretch {
    align-items: stretch;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:justify-end {
    justify-content: flex-end;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:justify-around {
    justify-content: space-around;
  }

  .sm\:justify-evenly {
    justify-content: space-evenly;
  }

  .sm\:justify-items-start {
    justify-items: start;
  }

  .sm\:justify-items-end {
    justify-items: end;
  }

  .sm\:justify-items-center {
    justify-items: center;
  }

  .sm\:justify-items-stretch {
    justify-items: stretch;
  }

  .sm\:gap-0 {
    gap: 0;
  }

  .sm\:gap-1px {
    gap: 1px;
  }

  .sm\:gap-2px {
    gap: 2px;
  }

  .sm\:gap-3px {
    gap: 3px;
  }

  .sm\:gap-4px {
    gap: 4px;
  }

  .sm\:gap-5px {
    gap: 5px;
  }

  .sm\:gap-6px {
    gap: 6px;
  }

  .sm\:gap-7px {
    gap: 7px;
  }

  .sm\:gap-8px {
    gap: 8px;
  }

  .sm\:gap-9px {
    gap: 9px;
  }

  .sm\:gap-10px {
    gap: 10px;
  }

  .sm\:gap-11px {
    gap: 11px;
  }

  .sm\:gap-12px {
    gap: 12px;
  }

  .sm\:gap-13px {
    gap: 13px;
  }

  .sm\:gap-14px {
    gap: 14px;
  }

  .sm\:gap-15px {
    gap: 15px;
  }

  .sm\:gap-16px {
    gap: 16px;
  }

  .sm\:gap-17px {
    gap: 17px;
  }

  .sm\:gap-18px {
    gap: 18px;
  }

  .sm\:gap-19px {
    gap: 19px;
  }

  .sm\:gap-20px {
    gap: 20px;
  }

  .sm\:gap-21px {
    gap: 21px;
  }

  .sm\:gap-22px {
    gap: 22px;
  }

  .sm\:gap-23px {
    gap: 23px;
  }

  .sm\:gap-24px {
    gap: 24px;
  }

  .sm\:gap-25px {
    gap: 25px;
  }

  .sm\:gap-26px {
    gap: 26px;
  }

  .sm\:gap-27px {
    gap: 27px;
  }

  .sm\:gap-28px {
    gap: 28px;
  }

  .sm\:gap-29px {
    gap: 29px;
  }

  .sm\:gap-30px {
    gap: 30px;
  }

  .sm\:gap-31px {
    gap: 31px;
  }

  .sm\:gap-32px {
    gap: 32px;
  }

  .sm\:gap-33px {
    gap: 33px;
  }

  .sm\:gap-34px {
    gap: 34px;
  }

  .sm\:gap-35px {
    gap: 35px;
  }

  .sm\:gap-36px {
    gap: 36px;
  }

  .sm\:gap-37px {
    gap: 37px;
  }

  .sm\:gap-38px {
    gap: 38px;
  }

  .sm\:gap-39px {
    gap: 39px;
  }

  .sm\:gap-40px {
    gap: 40px;
  }

  .sm\:gap-41px {
    gap: 41px;
  }

  .sm\:gap-42px {
    gap: 42px;
  }

  .sm\:gap-43px {
    gap: 43px;
  }

  .sm\:gap-44px {
    gap: 44px;
  }

  .sm\:gap-45px {
    gap: 45px;
  }

  .sm\:gap-46px {
    gap: 46px;
  }

  .sm\:gap-47px {
    gap: 47px;
  }

  .sm\:gap-48px {
    gap: 48px;
  }

  .sm\:gap-49px {
    gap: 49px;
  }

  .sm\:gap-50px {
    gap: 50px;
  }

  .sm\:gap-51px {
    gap: 51px;
  }

  .sm\:gap-52px {
    gap: 52px;
  }

  .sm\:gap-53px {
    gap: 53px;
  }

  .sm\:gap-54px {
    gap: 54px;
  }

  .sm\:gap-55px {
    gap: 55px;
  }

  .sm\:gap-56px {
    gap: 56px;
  }

  .sm\:gap-57px {
    gap: 57px;
  }

  .sm\:gap-58px {
    gap: 58px;
  }

  .sm\:gap-59px {
    gap: 59px;
  }

  .sm\:gap-60px {
    gap: 60px;
  }

  .sm\:gap-61px {
    gap: 61px;
  }

  .sm\:gap-62px {
    gap: 62px;
  }

  .sm\:gap-63px {
    gap: 63px;
  }

  .sm\:gap-64px {
    gap: 64px;
  }

  .sm\:gap-65px {
    gap: 65px;
  }

  .sm\:gap-66px {
    gap: 66px;
  }

  .sm\:gap-67px {
    gap: 67px;
  }

  .sm\:gap-68px {
    gap: 68px;
  }

  .sm\:gap-69px {
    gap: 69px;
  }

  .sm\:gap-70px {
    gap: 70px;
  }

  .sm\:gap-71px {
    gap: 71px;
  }

  .sm\:gap-72px {
    gap: 72px;
  }

  .sm\:gap-73px {
    gap: 73px;
  }

  .sm\:gap-74px {
    gap: 74px;
  }

  .sm\:gap-75px {
    gap: 75px;
  }

  .sm\:gap-76px {
    gap: 76px;
  }

  .sm\:gap-77px {
    gap: 77px;
  }

  .sm\:gap-78px {
    gap: 78px;
  }

  .sm\:gap-79px {
    gap: 79px;
  }

  .sm\:gap-80px {
    gap: 80px;
  }

  .sm\:gap-81px {
    gap: 81px;
  }

  .sm\:gap-82px {
    gap: 82px;
  }

  .sm\:gap-83px {
    gap: 83px;
  }

  .sm\:gap-84px {
    gap: 84px;
  }

  .sm\:gap-85px {
    gap: 85px;
  }

  .sm\:gap-86px {
    gap: 86px;
  }

  .sm\:gap-87px {
    gap: 87px;
  }

  .sm\:gap-88px {
    gap: 88px;
  }

  .sm\:gap-89px {
    gap: 89px;
  }

  .sm\:gap-90px {
    gap: 90px;
  }

  .sm\:gap-91px {
    gap: 91px;
  }

  .sm\:gap-92px {
    gap: 92px;
  }

  .sm\:gap-93px {
    gap: 93px;
  }

  .sm\:gap-94px {
    gap: 94px;
  }

  .sm\:gap-95px {
    gap: 95px;
  }

  .sm\:gap-96px {
    gap: 96px;
  }

  .sm\:gap-97px {
    gap: 97px;
  }

  .sm\:gap-98px {
    gap: 98px;
  }

  .sm\:gap-99px {
    gap: 99px;
  }

  .sm\:gap-100px {
    gap: 100px;
  }

}


@media (min-width: 768px) {
  .md\:block {
    display: block;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:inline {
    display: inline;
  }

  .md\:flex {
    display: flex;
  }

  .md\:inline-flex {
    display: inline-flex;
  }

  .md\:table {
    display: table;
  }

  .md\:inline-table {
    display: inline-table;
  }

  .md\:table-caption {
    display: table-caption;
  }

  .md\:table-cell {
    display: table-cell;
  }

  .md\:table-column {
    display: table-column;
  }

  .md\:table-column-group {
    display: table-column-group;
  }

  .md\:table-footer-group {
    display: table-footer-group;
  }

  .md\:table-header-group {
    display: table-header-group;
  }

  .md\:table-row-group {
    display: table-row-group;
  }

  .md\:table-row {
    display: table-row;
  }

  .md\:flow-root {
    display: flow-root;
  }

  .md\:grid {
    display: grid;
  }

  .md\:inline-grid {
    display: inline-grid;
  }

  .md\:contents {
    display: contents;
  }

  .md\:list-item {
    display: list-item;
  }

  .md\:hidden {
    display: none;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-justify {
    text-align: justify;
  }

  .md\:align-baseline {
    vertical-align: baseline;
  }

  .md\:align-top {
    vertical-align: top;
  }

  .md\:align-middle {
    vertical-align: middle;
  }

  .md\:align-bottom {
    vertical-align: bottom;
  }

  .md\:align-text-top {
    vertical-align: text-top;
  }

  .md\:align-text-bottom {
    vertical-align: text-bottom;
  }

  .md\:font-sans {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .md\:font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }

  .md\:font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .md\:text-xs {
    font-size: 0.75rem;
  }

  .md\:text-sm {
    font-size: 0.875rem;
  }

  .md\:text-base {
    font-size: 1rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
  }

  .md\:text-6xl {
    font-size: 4rem;
  }

  .md\:text-10px {
    font-size: 10px;
  }

  .md\:text-11px {
    font-size: 11px;
  }

  .md\:text-12px {
    font-size: 12px;
  }

  .md\:text-13px {
    font-size: 13px;
  }

  .md\:text-14px {
    font-size: 14px;
  }

  .md\:text-15px {
    font-size: 15px;
  }

  .md\:text-16px {
    font-size: 16px;
  }

  .md\:text-17px {
    font-size: 17px;
  }

  .md\:text-18px {
    font-size: 18px;
  }

  .md\:text-19px {
    font-size: 19px;
  }

  .md\:text-20px {
    font-size: 20px;
  }

  .md\:text-21px {
    font-size: 21px;
  }

  .md\:text-22px {
    font-size: 22px;
  }

  .md\:text-23px {
    font-size: 23px;
  }

  .md\:text-24px {
    font-size: 24px;
  }

  .md\:text-25px {
    font-size: 25px;
  }

  .md\:text-26px {
    font-size: 26px;
  }

  .md\:text-27px {
    font-size: 27px;
  }

  .md\:text-28px {
    font-size: 28px;
  }

  .md\:text-29px {
    font-size: 29px;
  }

  .md\:text-30px {
    font-size: 30px;
  }

  .md\:text-31px {
    font-size: 31px;
  }

  .md\:text-32px {
    font-size: 32px;
  }

  .md\:text-33px {
    font-size: 33px;
  }

  .md\:text-34px {
    font-size: 34px;
  }

  .md\:text-35px {
    font-size: 35px;
  }

  .md\:text-36px {
    font-size: 36px;
  }

  .md\:text-37px {
    font-size: 37px;
  }

  .md\:text-38px {
    font-size: 38px;
  }

  .md\:text-39px {
    font-size: 39px;
  }

  .md\:text-40px {
    font-size: 40px;
  }

  .md\:text-41px {
    font-size: 41px;
  }

  .md\:text-42px {
    font-size: 42px;
  }

  .md\:text-43px {
    font-size: 43px;
  }

  .md\:text-44px {
    font-size: 44px;
  }

  .md\:text-45px {
    font-size: 45px;
  }

  .md\:text-46px {
    font-size: 46px;
  }

  .md\:text-47px {
    font-size: 47px;
  }

  .md\:text-48px {
    font-size: 48px;
  }

  .md\:text-49px {
    font-size: 49px;
  }

  .md\:text-50px {
    font-size: 50px;
  }

  .md\:font-thin {
    font-weight: 100;
  }

  .md\:font-extralight {
    font-weight: 200;
  }

  .md\:font-light {
    font-weight: 300;
  }

  .md\:font-normal {
    font-weight: 400;
  }

  .md\:font-medium {
    font-weight: 500;
  }

  .md\:font-semibold {
    font-weight: 600;
  }

  .md\:font-bold {
    font-weight: 700;
  }

  .md\:font-extrabold {
    font-weight: 800;
  }

  .md\:font-black {
    font-weight: 900;
  }

  .md\:uppercase {
    text-transform: uppercase;
  }

  .md\:lowercase {
    text-transform: lowercase;
  }

  .md\:capitalize {
    text-transform: capitalize;
  }

  .md\:normal-case {
    text-transform: none;
  }

  .md\:italic {
    font-style: italic;
  }

  .md\:not-italic {
    font-style: normal;
  }

  .md\:auto-cols-auto {
    grid-auto-columns: auto;
  }

  .md\:auto-cols-min {
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
  }

  .md\:auto-cols-max {
    grid-auto-columns: -webkit-max-content;
    grid-auto-columns: max-content;
  }

  .md\:auto-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }

  .md\:grid-flow-row {
    grid-auto-flow: row;
  }

  .md\:grid-flow-col {
    grid-auto-flow: column;
  }

  .md\:grid-flow-row-dense {
    grid-auto-flow: row dense;
  }

  .md\:grid-flow-col-dense {
    grid-auto-flow: column dense;
  }

  .md\:auto-rows-auto {
    grid-auto-rows: auto;
  }

  .md\:auto-rows-min {
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }

  .md\:auto-rows-max {
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }

  .md\:auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .md\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .md\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .md\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .md\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .md\:grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .md\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .md\:grid-cols-none {
    grid-template-columns: none;
  }

  .md\:grid-rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .md\:grid-rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .md\:grid-rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .md\:grid-rows-none {
    grid-template-rows: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:flex-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:place-content-center {
    place-content: center;
  }

  .md\:place-content-start {
    place-content: start;
  }

  .md\:place-content-end {
    place-content: end;
  }

  .md\:place-content-between {
    place-content: space-between;
  }

  .md\:place-content-around {
    place-content: space-around;
  }

  .md\:place-content-evenly {
    place-content: space-evenly;
  }

  .md\:place-content-stretch {
    place-content: stretch;
  }

  .md\:place-items-start {
    place-items: start;
  }

  .md\:place-items-end {
    place-items: end;
  }

  .md\:place-items-center {
    place-items: center;
  }

  .md\:place-items-stretch {
    place-items: stretch;
  }

  .md\:content-center {
    align-content: center;
  }

  .md\:content-start {
    align-content: flex-start;
  }

  .md\:content-end {
    align-content: flex-end;
  }

  .md\:content-between {
    align-content: space-between;
  }

  .md\:content-around {
    align-content: space-around;
  }

  .md\:content-evenly {
    align-content: space-evenly;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-end {
    align-items: flex-end;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:items-baseline {
    align-items: baseline;
  }

  .md\:items-stretch {
    align-items: stretch;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:justify-around {
    justify-content: space-around;
  }

  .md\:justify-evenly {
    justify-content: space-evenly;
  }

  .md\:justify-items-start {
    justify-items: start;
  }

  .md\:justify-items-end {
    justify-items: end;
  }

  .md\:justify-items-center {
    justify-items: center;
  }

  .md\:justify-items-stretch {
    justify-items: stretch;
  }

  .md\:gap-0 {
    gap: 0;
  }

  .md\:gap-1px {
    gap: 1px;
  }

  .md\:gap-2px {
    gap: 2px;
  }

  .md\:gap-3px {
    gap: 3px;
  }

  .md\:gap-4px {
    gap: 4px;
  }

  .md\:gap-5px {
    gap: 5px;
  }

  .md\:gap-6px {
    gap: 6px;
  }

  .md\:gap-7px {
    gap: 7px;
  }

  .md\:gap-8px {
    gap: 8px;
  }

  .md\:gap-9px {
    gap: 9px;
  }

  .md\:gap-10px {
    gap: 10px;
  }

  .md\:gap-11px {
    gap: 11px;
  }

  .md\:gap-12px {
    gap: 12px;
  }

  .md\:gap-13px {
    gap: 13px;
  }

  .md\:gap-14px {
    gap: 14px;
  }

  .md\:gap-15px {
    gap: 15px;
  }

  .md\:gap-16px {
    gap: 16px;
  }

  .md\:gap-17px {
    gap: 17px;
  }

  .md\:gap-18px {
    gap: 18px;
  }

  .md\:gap-19px {
    gap: 19px;
  }

  .md\:gap-20px {
    gap: 20px;
  }

  .md\:gap-21px {
    gap: 21px;
  }

  .md\:gap-22px {
    gap: 22px;
  }

  .md\:gap-23px {
    gap: 23px;
  }

  .md\:gap-24px {
    gap: 24px;
  }

  .md\:gap-25px {
    gap: 25px;
  }

  .md\:gap-26px {
    gap: 26px;
  }

  .md\:gap-27px {
    gap: 27px;
  }

  .md\:gap-28px {
    gap: 28px;
  }

  .md\:gap-29px {
    gap: 29px;
  }

  .md\:gap-30px {
    gap: 30px;
  }

  .md\:gap-31px {
    gap: 31px;
  }

  .md\:gap-32px {
    gap: 32px;
  }

  .md\:gap-33px {
    gap: 33px;
  }

  .md\:gap-34px {
    gap: 34px;
  }

  .md\:gap-35px {
    gap: 35px;
  }

  .md\:gap-36px {
    gap: 36px;
  }

  .md\:gap-37px {
    gap: 37px;
  }

  .md\:gap-38px {
    gap: 38px;
  }

  .md\:gap-39px {
    gap: 39px;
  }

  .md\:gap-40px {
    gap: 40px;
  }

  .md\:gap-41px {
    gap: 41px;
  }

  .md\:gap-42px {
    gap: 42px;
  }

  .md\:gap-43px {
    gap: 43px;
  }

  .md\:gap-44px {
    gap: 44px;
  }

  .md\:gap-45px {
    gap: 45px;
  }

  .md\:gap-46px {
    gap: 46px;
  }

  .md\:gap-47px {
    gap: 47px;
  }

  .md\:gap-48px {
    gap: 48px;
  }

  .md\:gap-49px {
    gap: 49px;
  }

  .md\:gap-50px {
    gap: 50px;
  }

  .md\:gap-51px {
    gap: 51px;
  }

  .md\:gap-52px {
    gap: 52px;
  }

  .md\:gap-53px {
    gap: 53px;
  }

  .md\:gap-54px {
    gap: 54px;
  }

  .md\:gap-55px {
    gap: 55px;
  }

  .md\:gap-56px {
    gap: 56px;
  }

  .md\:gap-57px {
    gap: 57px;
  }

  .md\:gap-58px {
    gap: 58px;
  }

  .md\:gap-59px {
    gap: 59px;
  }

  .md\:gap-60px {
    gap: 60px;
  }

  .md\:gap-61px {
    gap: 61px;
  }

  .md\:gap-62px {
    gap: 62px;
  }

  .md\:gap-63px {
    gap: 63px;
  }

  .md\:gap-64px {
    gap: 64px;
  }

  .md\:gap-65px {
    gap: 65px;
  }

  .md\:gap-66px {
    gap: 66px;
  }

  .md\:gap-67px {
    gap: 67px;
  }

  .md\:gap-68px {
    gap: 68px;
  }

  .md\:gap-69px {
    gap: 69px;
  }

  .md\:gap-70px {
    gap: 70px;
  }

  .md\:gap-71px {
    gap: 71px;
  }

  .md\:gap-72px {
    gap: 72px;
  }

  .md\:gap-73px {
    gap: 73px;
  }

  .md\:gap-74px {
    gap: 74px;
  }

  .md\:gap-75px {
    gap: 75px;
  }

  .md\:gap-76px {
    gap: 76px;
  }

  .md\:gap-77px {
    gap: 77px;
  }

  .md\:gap-78px {
    gap: 78px;
  }

  .md\:gap-79px {
    gap: 79px;
  }

  .md\:gap-80px {
    gap: 80px;
  }

  .md\:gap-81px {
    gap: 81px;
  }

  .md\:gap-82px {
    gap: 82px;
  }

  .md\:gap-83px {
    gap: 83px;
  }

  .md\:gap-84px {
    gap: 84px;
  }

  .md\:gap-85px {
    gap: 85px;
  }

  .md\:gap-86px {
    gap: 86px;
  }

  .md\:gap-87px {
    gap: 87px;
  }

  .md\:gap-88px {
    gap: 88px;
  }

  .md\:gap-89px {
    gap: 89px;
  }

  .md\:gap-90px {
    gap: 90px;
  }

  .md\:gap-91px {
    gap: 91px;
  }

  .md\:gap-92px {
    gap: 92px;
  }

  .md\:gap-93px {
    gap: 93px;
  }

  .md\:gap-94px {
    gap: 94px;
  }

  .md\:gap-95px {
    gap: 95px;
  }

  .md\:gap-96px {
    gap: 96px;
  }

  .md\:gap-97px {
    gap: 97px;
  }

  .md\:gap-98px {
    gap: 98px;
  }

  .md\:gap-99px {
    gap: 99px;
  }

  .md\:gap-100px {
    gap: 100px;
  }

}

